[project]
	description = Aprendendo meteor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Person (personrcunha)
[access "refs/for/refs/*"]
	read = group user/Person (personrcunha)
	push = group user/Person (personrcunha)
	label-Code-Review = -2..+2 group user/Person (personrcunha)
	label-Verified = -1..+1 group user/Person (personrcunha)
	rebase = group user/Person (personrcunha)
	removeReviewer = group user/Person (personrcunha)
	submit = group user/Person (personrcunha)
[access "refs/heads/*"]
	read = group user/Person (personrcunha)
	create = group user/Person (personrcunha)
	push = +force group user/Person (personrcunha)
	pushMerge = group user/Person (personrcunha)
[access "refs/tags/*"]
	push = +force group user/Person (personrcunha)
	pushTag = group user/Person (personrcunha)
	pushSignedTag = group user/Person (personrcunha)
